$font-normal: 400;
$font-bold: 600;
$font-bolder: 800;
$trans:transparent;
$primary:#1a75d1;
$secondary:#6b6b6b;
$white:#fff;
$black:#000;
$red:#f00;
$green:#0e8043;
$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$orange: #fd7e14;
$yellow: #f6ed37;
$green:#01a05d;
$teal: #20c997;
$cyan: #17a2b8;
$lt-green:#7CA241;
$lt-green2:#b8dfb0;
$lt-green3:#88d878;
$dp-green:#01a15c;
$gray-dark: #343a40;
$gray: #ececec;
$marron:#4b001a;
$facebook:#116bd1;
$youtube:#cd201f;
$twitter:#04ace3;
$instagram:#913ba8;
$linkendin:#0f86c8;
$whatsapp:#25D366;
$telegram:#1e96c8;
$pinterest:#bd081b;
$gradientone:#303f9f;
$gradienttwo:#1976d2;
$gradientthree:#4b001a;
$bg-theme-sky:#0791d3;
$bg-theme-sky2:#1db6d8;
$bg-theme-gray:#f1f1ef;
$bg-theme-teal:#00a495;
$bg-theme-orange:#ffa027;
$bg-theme-pueple:#7b28b4;
$bg-theme-purple:#7b28b4;
$bg-theme-pink:#fd5b61;
$white-theme-color:#ff8f00;
$dashboard-theme1:#da6366;
$dashboard-theme2:#246b9c;
$dashboard-theme3:#e3a821;
$dashboard-theme4:#01a15c;
$base-font: 1rem;
$s0:0rem;
$s1:.5rem;
$s2:1rem;
$s3:1.5rem;
$s4:2rem;
$s5:2.5rem;
$s6:3rem;
$s7:3.5rem;
$s8:4rem;
$s9:4.5rem;
$s10:5rem;
$s11:5.5rem;
$s12:6rem;
$s13:6.5rem;
$s14:7rem;
$s15:7.5rem;
$s16:8rem;
$s17:8.5rem;
$s18:9rem;
$s19:9.5rem;
$s20:10rem;
$s21:10.5rem;
$s22:11rem;
$s23:11.5rem;
$s24:12rem;
$s25:12.5rem;
$s26:13rem;
$s27:13.5rem;
$s28:14rem;
$s29:14.5rem;
$s30:15rem;
$h1:2.6rem;
$h2:2rem;
$h3:1.8rem;
$h4:1.6rem;
$h5:1.4rem;
$h6:1.2rem;
$left:left;
$right:right;
$static:static;
$fixed:fixed;
$absolute:absolute;
$relative:relative;
$center:center;
$uppercase: uppercase;
$hidden:hidden;
$none:none;
$block:block;
$inline-block:inline-block;
$scroll:scroll;
$auto:auto;
$top:top;
$middle:middle;
$bottom:bottom;
$flex:flex;
$baseline:baseline;
$table:table;
$table-cell:table-cell;
$table-row:table-row;
$row:row;
$percent25:25%;
$percent30:30%;
$percent35:35%;
$percent50:50%;
$percent60:60%;
$percent65:65%;
$percent70:70%;
$percent75:75%;
$percent80:80%;
$percent90:90%;
$percent100:100%;
$percent110:110%;
$percent120:120%;
$percent130:130%;
$percent140:140%;
$percent150:150%;
$percent160:160%;
$percent170:170%;
$percent180:180%;
$percent190:190%;
$percent200:200%;
$percent250:250%;
$break-small: 375px;
$break-width575: 575px;
$break-tab: 768px;
$break-ipad: 992px;
$break-width1200: 1200px;
$break-width-large: 1440px;