@import 'variables';
@import 'mixins';
.top-portlets {
    margin: 0 0 $s1;
}

$chart-color-one:#0288d1;
$chart-color-two:#26c6da;
$chart-color-three:#f48fb1;
$chart-color-four:#9bafd4;
$chart-color-five:#f58900;
$chart-color-six:#009688;
$chart-color-seven:#ff5252;
$chart-color-eight:#6b6b6b;
$chart-color-nine:#13c5c2;
$chart-color-ten:#003ba7;
$chart-color-white:#ffffff;
.dashboardbg1 {
    background-color: #da6366 !important;
}

.dashboardbg2 {
    background-color: #246b9c !important;
}

.dashboardbg3 {
    background-color: #e3a821 !important;
}

.dashboardbg4 {
    background-color: #01a15c !important;
}

.dashboardcolor1 {
    color: #da6366 !important;
}

.dashboardcolor2 {
    color: #246b9c !important;
}

.dashboardcolor3 {
    color: #e3a821 !important;
}

.dashboardcolor4 {
    color: #01a15c !important;
}

.canvasjs-chart-credit {
    display: none;
}

.icon-more-vertical1 {
    display: none;
}

.portlets__card__count {
    width: 110px;
    height: 110px;
    border: 5px solid;
    border-radius: 50%;
    position: relative;
    .number {
        font-size: 2rem;
        font-weight: 700;
        line-height: 100px;
    }
    i {
        font-size: 2.7rem;
    }
    a {
        position: absolute;
        height: 140%;
        width: 100%;
        left: 0;
        top: 0;
    }
}

.portlets__card-border {
    border-right: 0px;
}

.portlets__card {
    margin-bottom: $s2;
    text-align: center;
    &__content {
        text-align: center;
        padding: 0.5rem 1.5rem;
        color: #fff;
        border-radius: 3px 3px 0 0;
        width: auto;
        height: auto;
        margin: 0;
        float: none;
        p {
            margin-bottom: $s1;
            font-weight: 500;
        }
        .portlets__card-icon {
            display: flex;
            align-items: center;
        }
        i {
            font-size: 2.5rem;
        }
    }
    &__charts {
        border-radius: 0 0 3px 3px;
        padding: $s1 $s2;
        color: $white;
        .charts__content {
            height: 45px;
            .ct-series-a .ct-bar,
            .ct-series-a .ct-line,
            .ct-series-a .ct-point,
            .ct-series-a .ct-slice-donut {
                stroke: $white;
                stroke-width: .6rem;
            }
            .ct-series-b .ct-bar,
            .ct-series-b .ct-line,
            .ct-series-b .ct-point,
            .ct-series-b .ct-slice-donut {
                stroke: $gray;
                stroke-width: .6rem;
            }
            // .ct-labels{display: none;}
            // foreignObject{display: none!important}
        }
    }
    &:hover {
        b {
            color: $black;
        }
        .dashboardcolor1 {
            background-color: rgba(218, 99, 103, 0.15);
        }
        .dashboardcolor2 {
            background-color: rgba(36, 106, 156, 0.15);
        }
        .dashboardcolor3 {
            background-color: rgba(227, 169, 33, 0.15);
        }
        .dashboardcolor4 {
            background-color: rgba(1, 161, 92, 0.15);
        }
    }
}

.dashboard-portlet {
    position: $relative;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03), 0 3px 1px -2px rgba(0, 0, 0, 0.05), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-bottom: $s2;
    padding: $s2;
    background: $white;
    &.fixed {
        position: $fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 9999;
        bottom: 0;
        height: auto;
        border-radius: 0;
    }
    &__header {
        position: $relative;
        h5 {
            font-size: $h6;
            margin-bottom: $s2;
            .more-links {
                font-size: 120%;
                color: #6b6b6b;
            }
        }
        &.active {
            .more-links-list {
                display: $block;
            }
        }
    }
    &__content {
        padding: $s1 0;
        &__chart {
            .ct-chart-donut {
                .ct-label {
                    color: $white;
                    fill: $white;
                }
            }
            .ct-series-a {
                .ct-line {
                    stroke: $chart-color-one;
                }
                .ct-point {
                    stroke: $chart-color-one;
                }
                .ct-bar {
                    stroke: $chart-color-six;
                }
                .ct-slice-donut {
                    stroke: $chart-color-five;
                }
                .ct-area {
                    stroke: $chart-color-one;
                    fill: $chart-color-one;
                }
                .ct-slice-pie {
                    stroke: $chart-color-five;
                }
                .ct-slice-donut-solid {
                    fill: $chart-color-seven;
                }
            }
            .ct-series-b {
                .ct-line {
                    stroke: $chart-color-nine;
                }
                .ct-point {
                    stroke: $chart-color-nine;
                }
                .ct-bar {
                    stroke: $chart-color-four;
                }
                .ct-slice-donut {
                    stroke: $chart-color-three;
                }
                .ct-area {
                    stroke: $chart-color-six;
                    fill: $chart-color-six;
                }
                .ct-slice-pie {
                    stroke: $chart-color-seven;
                }
                .ct-slice-donut-solid {
                    fill: $chart-color-nine;
                }
            }
            .ct-series-c {
                .ct-line {
                    stroke: $chart-color-six;
                }
                .ct-point {
                    stroke: $chart-color-six;
                }
                .ct-bar {
                    stroke: $chart-color-nine;
                }
                .ct-slice-donut {
                    stroke: $chart-color-six;
                }
                .ct-area {
                    stroke: $chart-color-eight;
                    fill: $chart-color-eight;
                }
                .ct-slice-pie {
                    stroke: $chart-color-two;
                    ;
                }
                .ct-slice-donut-solid {
                    fill: $chart-color-two;
                }
            }
            .ct-series-d {
                .ct-line {
                    stroke: $chart-color-three;
                }
                .ct-point {
                    stroke: $chart-color-three;
                }
                .ct-bar {
                    stroke: $chart-color-seven;
                }
                .ct-slice-donut {
                    stroke: $chart-color-seven;
                }
                .ct-area {
                    stroke: $chart-color-ten;
                    fill: $chart-color-ten;
                }
                .ct-slice-pie {
                    stroke: $chart-color-six;
                    ;
                }
                .ct-slice-donut-solid {
                    fill: $chart-color-ten;
                }
            }
            .ct-series-e {
                .ct-line {
                    stroke: $chart-color-two;
                }
                .ct-point {
                    stroke: $chart-color-two;
                }
                .ct-bar {
                    stroke: $chart-color-two;
                }
                .ct-slice-donut {
                    stroke: $chart-color-four;
                }
                .ct-area {
                    stroke: $chart-color-nine;
                    fill: $chart-color-nine;
                }
                .ct-slice-pie {
                    stroke: $chart-color-three;
                    ;
                }
                .ct-slice-donut-solid {
                    fill: $chart-color-five;
                }
            }
            .ct-series-f {
                .ct-line {
                    stroke: $chart-color-nine;
                }
                .ct-point {
                    stroke: $chart-color-nine;
                }
                .ct-bar {
                    stroke: $chart-color-six;
                    ;
                }
                .ct-slice-donut {
                    stroke: $chart-color-two;
                }
                .ct-area {
                    stroke: $chart-color-seven;
                    fill: $chart-color-seven;
                }
                .ct-slice-pie {
                    stroke: $chart-color-two;
                    ;
                }
                .ct-slice-donut-solid {
                    fill: $chart-color-four;
                }
            }
        }
        &__details {
            height: 260px;
            overflow: hidden;
        }
    }
}
.countTitle{color: #fff;}

.dashnumber {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
}

.filter-section {
    position: $absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: $white;
    padding: $s4 $s6;
    opacity: 0;
    backface-visibility: hidden;
    transition: all .2s ease-in-out;
    z-index: -1;
    &.show {
        opacity: 1;
        z-index: 1;
    }
    .filter__close {
        position: $absolute;
        right: $s2;
        top: $s2;
        font-size: 120%;
    }
}

.more-links-list {
    position: $absolute;
    right: $s4;
    top: -1px;
    text-align: $center;
    transition: all .2s ease-in-out;
    background: $white;
    border-radius: 2px;
    display: none;
    ul {
        margin: 0;
        li {
            display: $inline-block;
            a {
                display: $block;
                padding: .2rem $s1;
                color: #6b6b6b;
            }
        }
    }
}

.dashboard-portlet {
    &.filled {
        color: $white;
        .dashboard-portlet__header {
            color: $white;
            h5 {
                .more-links {
                    color: $white;
                }
            }
        }
        .more-links-list {
            background: $trans;
            a {
                color: $white;
            }
        }
        .dashboard-portlet__content {
            .dashboard-portlet__content__chart {
                .ct-label {
                    color: $white;
                    fill: $white;
                }
                .ct-series-a {
                    .ct-line,
                    .ct-point,
                    .ct-bar,
                    .ct-area {
                        stroke: $chart-color-white;
                    }
                }
                .ct-series-b {
                    .ct-line,
                    .ct-point,
                    .ct-bar,
                    .ct-area {
                        stroke: rgba(255, 255, 255, 0.75)
                    }
                }
                .ct-series-c {
                    .ct-line,
                    .ct-point,
                    .ct-bar,
                    .ct-area {
                        stroke: rgba(255, 255, 255, 0.50)
                    }
                }
                .ct-series-d {
                    .ct-line,
                    .ct-point,
                    .ct-bar,
                    .ct-area {
                        stroke: rgba(52, 58, 64, 0.15)
                    }
                }
                .ct-series-e {
                    .ct-line,
                    .ct-point,
                    .ct-bar,
                    .ct-area {
                        stroke: rgba(52, 58, 64, 0.30)
                    }
                }
            }
            .dashboard-portlet__content__details {
                table {
                    tr {
                        td,
                        th {
                            color: $white;
                            border-top: 1px solid rgba(255, 255, 255, 0.2);
                        }
                        th {
                            background: $trans;
                            border-bottom-color: rgba(255, 255, 255, 0.2);
                        }
                    }
                }
            }
        }
    }
}

.ulmapbox {
    ul {
        margin: 0;
        padding: 0;
        li {
            margin: 0 0 .3rem 0;
            padding: 0;
            display: inline-block;
            border: #ededed 1px solid;
            a {
                display: block;
                padding: .5rem .5rem .5rem 1.5rem;
                color: #6b6b6b;
                &:before {
                    opacity: .8;
                    content: "\f0f6";
                    /* FontAwesome Unicode */
                    font-family: FontAwesome;
                    display: inline-block;
                    margin-left: -1.3em;
                    /* same as padding-left set on li */
                    width: 1.3em;
                    /* same as padding-left set on li */
                }
                &:hover {
                    background-color: $dp-green;
                    color: #fff;
                }
            }
        }
    }
}

.ulgismap {
    ul {
        margin: 0;
        padding: 0;
        li {
            margin: 0 0 0 0;
            padding: 0;
            display: block;
            border-bottom: #ededed 1px solid;
            a {
                display: block;
                padding: .8rem .5rem .8rem .5rem;
                color: #6b6b6b;
                i {
                    font-size: 1.2rem;
                    margin-right: 15px;
                }
                &:hover {
                    background-color: $dp-green;
                    color: #fff;
                }
            }
            &:last-child {
                border-bottom: 0;
            }
        }
    }
}

.portlet-filter {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    background: rgba(255, 255, 255, .9);
    padding: 1rem;
    border-top: #eee 1px solid;
    display: none;
}

.highcharts-credits {
    display: none;
    font-size: 0px;
}

@media screen and (min-width:$break-ipad) {
    .dashboard-portlet {
        height: 350px;
        overflow: hidden;
        margin-bottom: $s2;
        &_content {
            &_chart {
                height: 260px;
            }
        }
        &.fixed {
            left: 275px;
            top: 85px;
            right: $s2;
        }
        h6 {
            margin-bottom: $s2;
        }
        &.portlet-one {
            height: 451px;
        }
        &.portlet-two {
            height: auto;
        }
    }
    .ulmapbox {
        ul {
            li {
                width: 32.5%;
            }
        }
    }
    .portlets__card-border {
        border-right: 1px solid rgba(0, 0, 0, 0.1);
    }
}

@media screen and (min-width:$break-width-large) {
    .dashboard-portlet {
        margin-bottom: $s3;
        &.fixed {
            left: 280px;
            right: $s3;
        }
    }
}

@media screen and (min-width: 1024px) {
        .stackInnerLogo{display: block;}
      }